/*text {
    font-size: 9px;
}



.axis path,
.axis line {
    fill: none;
    stroke: #999;
    shape-rendering: crispEdges;
}

.x.axis text {
    display: none;
}

.x.axis .tick {
    display: none;
}
*/
text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line:hover {
    transition: all  0.0s;
    stroke-width: 3px;
    stroke:black;
    
}


