text {
    font-size: 9px;
}

.bar:hover {
    fill: #FF3F3A;
    transition: all  0.5s;
    
}

.tooltip {
    position: absolute;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    shape-rendering: crispEdges;
}

.x.axis text {
    display: none;
}

.x.axis .tick {
    display: none;
}

