body{
  background-color: #7BAFD4;
}
h3 {
  font-size: 30px;
}
.container {
  background-color: #C1D0DB;
  padding-left: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
}
text {
  font: 13px lato;
}

.axis path,
.axis line {
  fill: none;
  stroke: #4A5054;
  stroke-width: 3px;
  shape-rendering: crispEdges;
  
}

.x.axis path {
  
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line:hover {
    transition: all  0.0s;
    stroke-width: 3px;
    stroke:black;
    
}

.tick line{
    opacity: 0.2;
  }

circle {
  opacity: 0.5;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.logo {
  width: 150px;
  height: auto;
}

.info{
  font-family: lato;
  font-size: 18px;
}

.legend{
  border: solid 1px black;
  margin-right: 5px;
  padding: 5px;
  background-color: white;
}

.loptions{
  font-size: 12px;
  
}

.boxes{
  width: 5px;
  height: 5px;
  margin-right: 5px;
}
